#####################################
##              Load DLL           ##
#####################################
useDynLib(FactoClass)

#####################################
##            S3 methods           ##
#####################################
S3method("print","FactoClass")
S3method("print","FactoClass.tex")
S3method("plot","dudi")


#####################################
##               Import            ##
#####################################
# Import all packages listed as Imports or Depends
import(
  ade4,
  xtable
)

  importFrom("grDevices", "dev.new")
  importFrom("graphics", "abline", "barplot", "par", "plot",
             "plot.default", "points", "strheight", "strwidth", "text")
  importFrom("stats", "as.dist", "cutree", "dhyper", "dist", "hclust",
             "phyper", "pnorm", "qnorm", "rect.hclust", "var")


#####################################
##               Export            ##
#####################################
# Export all names
exportPattern(".")




