#####################################
##              Load DLL           ##
#####################################
useDynLib(FactoClass,.registration=TRUE)

#####################################
##            S3 methods           ##
#####################################
S3method("print","FactoClass")
S3method("print","FactoClass.tex")
S3method("plot","dudi")


#####################################
##               Import            ##
#####################################
# Import all packages listed as Imports or Depends
import(
  ade4,
  xtable,
  scatterplot3d,
  KernSmooth
)

  importFrom("grDevices", "dev.new","rainbow")
  importFrom("graphics", "abline", "barplot", "par", "plot","contour", "lines",
             "plot.default", "points","segments", "strheight", "strwidth", "text")
  importFrom("stats", "as.dist", "cutree", "dhyper", "dist", "hclust",
             "phyper", "pnorm", "qnorm", "rect.hclust", "var","chisq.test","density")
#####################################
##               Export            ##
#####################################
# Export all names
exportPattern(".")





